@charset "UTF-8";
body { font-family: "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", "Noto Sans JP", Lato,YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN",  "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

/*  link 
-----------------------------------------------------------------------------*/
a {
  color: #1F60B1;
  text-decoration: none;
}

a:visited {
  color: #0a62d0;
  text-decoration: none;
}

a:hover {
  color: #d71d1d;
  text-decoration: underline;
}

a img { border: 0; }

/*  align
-----------------------------------------------------------------------------*/
.align_r { text-align: right; }
.align_c { text-align: center; }
.align_l { text-align: left; }

/*  float 
-----------------------------------------------------------------------------*/
.fl { float: left; }
.fr { float: right; }

.clearfix:after {
  height: 0;
  display: block;
  clear: both;
  content: " ";
}
