@charset "UTF-8";

/* common 
-------------------------------------------------------------*/
* { box-sizing: border-box; }
html{
  font-size: 62.5%;
  transition: all;
  transition-timing-function: ease;
}

body {
  font-size: 14px;
  line-height: 150%;
  overflow-x: hidden;
  transition: all;
  transition-timing-function: ease;
}

.sp { display: none; }

a {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

a:hover {
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

/* wrapper 
-------------------------------------------------------------*/
#wrapper { max-width: 140rem; }

/* header 
-------------------------------------------------------------*/
#header { height: auto; }

/* User login */
.header__top { padding: 2rem 2rem 0 2rem; }

.header__top-list { display: flex; }

.list__item { 
  padding: 0 2.5rem;
  position: relative;
}

.list__item:first-child::before {
  content: "";
  position: absolute;
  right: 0;
  height: 2.5rem;
  width: 1px;
  background-color: var(--colorGray)
}

.list__item-link { 
  color: var(--colorBlack)!important;
  text-decoration: none!important; }

.list__item-link:hover { opacity: 0.7;}

.item-amount {
  height: 2rem;
  width: 2rem;
  background-color: var(--colorPink);
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  color: var(--colorWhite);
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
}
/* User login
------------------------------------------------------------ */

/* Logo Image */
.header__imgLogo {
  display: block;
  margin: 0 auto;
}
/* Logo Image 
-------------------------------------------------------------*/

/* Navigation PC */
.header__nav { margin: 2rem 0; }

#navi {
  display: flex;
  justify-content: center;
}

.navi__item { padding : 0 2.5rem; }

.navi__link {
  font-size: 1.8rem;  
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none!important;
  color: var(--colorPink) !important;
}

.navi__link:hover { opacity: 0.7; }

/* Navigation PC 
-------------------------------------------------------------*/

/* Carousel */
.header__carousel img {
  width: 100%;
  height: 100%;
}
/* Carousel 
-------------------------------------------------------------*/

/* footer 
-------------------------------------------------------------*/
#footer {
  background-color: var(--colorPinkBg);
  min-height: 24.5rem;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}
#footer a:hover {
  text-decoration: none;
  opacity: .7;
}
.footer__box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0!important;
}
.footer__block:nth-child(2) { 
  width: 50%;
  display: flex;
  justify-content: center
}
.footer__block-list { width: 40%; }
.footer__block:first-child {width: 20%}
.footer__block:last-child { width: 20%; }
#footer .item { margin: 1rem 0;}
#footer .item-link { color: var(--colorBlack)!important; }

#footer .item-link i { margin-right: 1rem}
.footer__block:last-child .footer-btn{
  display: flex;
  width: 85%;
  margin: 1rem auto;
  background-color: black;
  border: unset;
  font-size: 1.6rem;
  color: var(--colorWhite)!important;
  height: 5rem;
  justify-content: center;
  align-items: center;
  /* padding: .5rem; */
}

/* layout 
-------------------------------------------------------------*/
.box__title {
  display: block;
  margin: 0 auto 7.5rem auto;
}

/* Introduct */
.introduct { 
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.introduct__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8.5rem 0 0 0;
}
.box__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  flex-grow: 1;
}
.introduct__frist { padding: 0 2rem}
.introduct__frist .item:nth-child(1) { width: 48%; }
.introduct__frist .item:nth-child(2) { 
  width: 48%;
  background-image: url("../../img/introduct_pic02.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  height: auto;
}
.introduct__frist .item-content {
  position: relative;
  height: 35rem;
}
.introduct__frist .item-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  font-weight: 600;
  min-width: 80%;
}
/*---------------------------------------------------*/
.introduct__second { background-image: repeating-linear-gradient(to right, #e5fbfe 0px, #e5fbfe 4px, white 5px, white 4px);}
.introduct__second .box__title { padding-top: 10rem;}
.introduct__second .box__item { 
  justify-content: center;
  margin-bottom: 7.5rem;
}
.introduct__second .box__item .item { 
  width: 30%;
  margin: 0 1rem;
}
.introduct__second .box__item .item .item-img {
  display: block;
  margin: 0 auto;
}
.introduct__second .box__item .item .item-text{ 
  font-size: 1.6rem;
  margin-top: 1.5rem;
  font-weight: 600;
}
/*---------------------------------------------------*/
.introduct__third {padding-bottom: 7rem}
.introduct__third .box__item {justify-content: center}
.introduct__third .box__item:nth-child(3) { margin-top: 8.5rem;}
.introduct__third .item { 
  margin: 0 1rem;
  position : relative;
}
.introduct__third .item-img {
  width: 100%;
  height: 100%;
}
.introduct__third .overImg { position : absolute; }
.introduct__third .box__item:nth-child(2) .item:first-child .overImg {
  z-index: -1;
  bottom: -10%;
  left: -35%;
}
.introduct__third .box__item:nth-child(2) .item:last-child .overImg {
  bottom: -7%;
  left: -4%;
}
.introduct__third .box__item:nth-child(3) .item:first-child .overImg {
  z-index: -1;
  bottom: -12%;
  left: -37%;
}
.introduct__third .box__item:nth-child(3) .item:last-child .overImg {
  bottom: -10%;
  right: -18%;
}
/* Introduct 
-------------------------------------------------------------*/

/* Comment */
.comment {
  background-color: var(--colorPinkBg);
  margin-top: 4.5rem;
  padding: 10rem 2rem 8.5rem 2rem;
}
.comment__block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3.5rem;
}
.comment__block:nth-child(3) .comment__block-img { order: 1; }
.comment__block-img { 
  display: flex;
  flex-direction: column;
  width: 10%;
  font-weight: bold;
  align-items: center;
  margin : 0 1rem;
}
.comment__block-img p { margin-top: 1rem; }
.comment__block-text {
  width: 65%;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 35px;
  position: relative;
  z-index: 2;
  margin : 0 1rem;

}
.comment__block-text span {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%
}
.comment__block-text img {
  width: 100%;
  height: 9.5rem;
}
/* .comment__block:nth-child(3) .comment__block-text::before {
  left: 96%;
  transform: skewX(-45deg);
} */
/* .comment__block-text::before{
  content: '';
  background-color: var(--colorWhite);
  width: 50px;
  height: 50px;
  top: 30%;
  left: -2%;
  position: absolute;
  transform: skewX(45deg);
  z-index: 1;
} */
/* Comment 
-------------------------------------------------------------*/

/* Product */
.product { margin : 8rem 0 10rem 0;}
.product__block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  flex-grow: 1;
}
.product__img { width: 40%; }
.product__img-slide {
  height: 85%;
  position: relative;
  overflow: hidden;
  margin: 1rem 0;
}
.product__img-slide img { 
  width: 100%;
  height: 100%; 
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--colorGray);
  font-weight: bold;
  font-size: 6rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev { left: -10%;}
.next { right: -10%;}
.product__img-slide:hover .prev { left: 0;}
.product__img-slide:hover .next { right: 0;}
.product__img-slide .slideCurrent:nth-child(2), 
.product__img-slide .slideCurrent:nth-child(3),
.product__img-slide .slideCurrent:nth-child(4),
.product__img-slide .mySlide:nth-child(2),
.product__img-slide .mySlide:nth-child(3),
.product__img-slide .mySlide:nth-child(4) { display: none;}
.product__img-list {
  margin: 1rem 0;
  height: 15%;
  display: flex;
  align-items: flex-end;
  list-style: none;
}
.img-item {
  width: 10%;
  margin-right: 1.5rem;
  cursor: pointer;
}
.img-item img {
  width: 100%
}
.acitveProduct {
  border: 2px solid #72bbdb;
}
.product__booking { 
  padding: 3rem 2rem; 
  width: 40%;
}
.product__booking p { padding: 0 2rem; }
.product-title {
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.product-price { 
  font-size: 2rem;
  margin-bottom: 2.5rem;
}
.product-amount {
  padding: 0!important;
  position: relative;
}
.product-amount span {
  padding: 1.5rem 2rem;
  display: block;
}
.product-amount::before {
  content: '';
  position: absolute;
  background-color: var(--colorGray);
  top: 0;
  width: 100%;
  height: 2px;
}
.product-amount::after {
  content: '';
  position: absolute;
  background-color: var(--colorGray);
  bottom: 0;
  width: 100%;
  height: 2px;
}
.product-quantity {
  position: relative;
  margin: 0 0 1rem;
  border: 1px solid #BBB;
  border-color: #BBB #ECECEC #ECECEC #BBB;
  padding: 1rem;
  width: 8rem;
}
/* Spin Buttons modified */
.product-quantity::-webkit-outer-spin-button, 
.product-quantity::-webkit-inner-spin-button {
    -webkit-appearance: none;
    background: #FFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=) no-repeat center center;
    width: 2rem;
    border-left: 1px solid #BBB;
    opacity: .5; /* shows Spin Buttons per default (Chrome >= 39) */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
.product-quantity::-webkit-inner-spin-button:hover,
.product-quantity::-webkit-inner-spin-button:active{
    box-shadow: 0 0 2px #0CF;
    opacity: .8;
}
.product-quantityInput { 
  position: relative;
  padding: 2rem 0;
}
.product-quantityInput::after{
  content: '';
  position: absolute;
  background-color: var(--colorGray);
  bottom: 10%;
  width: 100%;
  height: 2px;
}
.product-addCart {
  margin: 2rem auto;
  background-color: var(--colorPink);
  display: block;
  width: 90%;
  text-align: center;
  padding: 2rem 0;
  outline: none;
  box-shadow: unset;
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  color: white!important;
}
.product-addCart:hover{
  text-decoration: none;
  opacity: .7;
}
.product-note {
  border: 3px solid var(--colorGray);
  padding: 1.5rem 3.5rem;
  width: 90%;
  margin: 0 auto;
}
.note-item { 
  font-size: 1.1rem;
  list-style-type: circle;
}
/* Product 
-------------------------------------------------------------*/

/* 10 Free Thing */
.freeThing {
  background-image: url("../../img/freething_bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10rem 2rem 0 2rem;
}
.freeThing__container { padding-bottom: 3.5rem;}
.freeThing .title-caption{
  margin: 2.5rem auto;
  font-size: 1.6rem;
  color: var(--colorWhite);
}
.freeThing .title-caption p { margin:1rem 0;}
.freeThing__block { 
  display: flex;
  margin-bottom: 35px;
  justify-content: center;
  align-items: center;
}
.freeThing__block-item {
  background-image: url("../../img/freething_icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 20%;
  height: 14rem;
}
.freeThing .item-text {
  font-size: 2rem;
  font-family: "Yu Gothic Medium";
  color: var(--colorSkyBlue);
  font-weight: bold;
  text-align: center;
  margin-top: 3rem;
  position: relative;
}
.freeThing .item-text span {
  display: block;
  position: relative;
}
.freeThing .text-after::after{
  content:'free!';
  background-color: transparent;
  position: absolute;
  bottom: -120%;
  left: 38%;
  font-size: 1.6rem;
  font-family: "Yu Gothic Medium";
  color: var(--colorSkyBlue);
  font-weight: bold;
} 
/* 10 Free Thing 
------------------------------------------------------------*/

/* Product Size */
.productSize { 
  padding-top: 8.5rem;
  background-image: repeating-linear-gradient(to right, #f5d9dc 0px, #f5d9dc 4px, white 5px, white 4px);
}
.productSize__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6.5rem;
}
.productSize__block { width: 40%;}
.productSize__block:nth-child(2) img{
  display: block;
  margin: .5rem 0;
  width: 100%;
}
/* Product Size 
------------------------------------------------------------*/

/* ProductInfo */
.productInfo { 
  max-height: 150rem;
  margin-bottom : 12rem;
  padding : 0 2rem;
}
.productInfo .product {margin-bottom: 5rem}
.productInfo__container {
  display: grid;
  height: auto;
  grid-template-columns: minmax(min-content,16rem) minmax(min-content,82rem);
  max-width: 98rem;
  height: 63rem;
  margin: 5rem auto 0;
  
}
.productInfo__item {
  border: 1px outset var(--colorGray);
  display: flex;
  align-items: center;
  padding: 0 4rem 0 3.5rem;
}
.productInfo__title { 
  justify-content: center;
  background-color: var(--colorPinkBg);
}
.productInfo__title span { 
  max-width: 10rem; 
  text-align: center
}
.productInfo__item:last-child {
  display: grid;
  grid-template-columns: repeat(4,25%);
  padding: 3.5rem;
}
.item-style {
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 0 .5rem;
  border-radius: 50%;
  background-color: black;
}
.productInfo__item:last-child .item {
  display: flex;
  align-items: center;
}
.productInfo__item:last-child .item-style {
  width: 25px;
  height: 25px;
  background-color: var(--colorPinkBg);
  position: relative;
  margin-right: 1rem;
}
.productInfo__item:last-child .item-style::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(125deg);
  height: .5rem;
  width: 1.5rem;
  border-right: 5px solid white;
  border-top: 5px solid white;
  z-index: 2;
}
/* ProductInfo
----------------------------------------------------------- */

/* Button scroll to top */
#pageTopBtn {
  position: fixed;
  z-index: 99;
  bottom: 2%;
  right: 1%;
  background-image: url('../../img/pageTop_icon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 7rem;
  width: 7rem;
  display: none;
}
#pageTopBtn:hover { opacity: .7; }
/* Button scroll to top 
----------------------------------------------------------- */

/* Block Fiexd */
#blockFixed {
  position: fixed;
  z-index: 99;
  top: 30%;
  right: 0%;
  background-image: url('../../img/blockFixed_pic.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  height: 20rem;
  width: 7rem;
  opacity: .7;
}
#blockFixed:hover {opacity: 1;}
/* Block Fiexd 
------------------------------------------------------------ */

