@charset "UTF-8";

/* common 
-------------------------------------------------------------*/
* {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 14px;
  line-height: 150%;
}

.pc { display: none; }

.sp { display: block; }

/* wrapper 
-------------------------------------------------------------*/
#wrapper { ; }

/* header 
-------------------------------------------------------------*/
#header { ; }

/* footer 
-------------------------------------------------------------*/
#footer { ; }

/* layout 
-------------------------------------------------------------*/
.contents { ; }
